# ==========================================
# CẤU HÌNH CHO DOCKER POSTGRESQL (Local)
# ==========================================
POSTGRES_USER=[username]
POSTGRES_PASSWORD=[password]
POSTGRES_DB=[db_name]
POSTGRES_PORT=[port]

# ==========================================
# CẤU HÌNH CHO SCRIPT PYTHON (SQLAlchemy)
# ==========================================
# Cú pháp: postgresql://[user]:[password]@localhost:[port]/[db_name]
DATABASE_URL=postgresql://[username]:[password]@localhost:[port]/[db_name]


# ==========================================
# CẤU HÌNH CHO WEB API
# ==========================================
APP_NAME="NAME"
DEBUG_MODE=True
